<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.dao.CustomerDao">
	<resultMap id="BaseResultMap" type="com.hand.pojo.Customer">
		<id column="customer_id" property="customerId" jdbcType="SMALLINT" />
		<result column="store_id" property="storeId" jdbcType="TINYINT" />
		<result column="first_name" property="firstName" jdbcType="VARCHAR" />
		<result column="last_name" property="lastName" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address_id" property="addressId" jdbcType="SMALLINT" />
		<result column="active" property="active" jdbcType="BIT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		customer_id, store_id, first_name, last_name, email,
		address_id, active,
		create_date,
		last_update
	</sql>
	<!-- <resultMap type="java.lang.String" id="resultListUser"> <result column="first_name" 
		property="firstName" /> </resultMap> <select id="selectCustomer" resultMap="resultListUser"> 
		select first_name from customer </select> -->

	<select id="selectCustomer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from customer
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Short">
		select
		<include refid="Base_Column_List" />
		from customer
		where customer_id = #{customerId,jdbcType=SMALLINT}
	</select>
	<select id="selectByFirstName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from customer
		where first_name = #{firstName,jdbcType=SMALLINT}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
		delete from
		customer
		where customer_id = #{customerId,jdbcType=SMALLINT}
	</delete>
	<insert id="insert" parameterType="com.hand.pojo.Customer">
		insert into customer
		(customer_id, store_id, first_name,
		last_name, email, address_id,
		active, create_date, last_update
		)
		values
		(#{customerId,jdbcType=SMALLINT}, #{storeId,jdbcType=TINYINT},
		#{firstName,jdbcType=VARCHAR},
		#{lastName,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{addressId,jdbcType=SMALLINT},
		#{active,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP},
		#{lastUpdate,jdbcType=TIMESTAMP}
		)
	</insert>

	<insert id="insertCustomer" parameterType="com.hand.pojo.Customer">
		insert into customer
		(store_id,first_name,
		last_name, email)
		values
		(#{storeId,jdbcType=TINYINT},#{firstName,jdbcType=VARCHAR},
		#{lastName,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hand.pojo.Customer">
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="storeId != null">
				store_id,
			</if>
			<if test="firstName != null">
				first_name,
			</if>
			<if test="lastName != null">
				last_name,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="addressId != null">
				address_id,
			</if>
			<if test="active != null">
				active,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="lastUpdate != null">
				last_update,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerId != null">
				#{customerId,jdbcType=SMALLINT},
			</if>
			<if test="storeId != null">
				#{storeId,jdbcType=TINYINT},
			</if>
			<if test="firstName != null">
				#{firstName,jdbcType=VARCHAR},
			</if>
			<if test="lastName != null">
				#{lastName,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="addressId != null">
				#{addressId,jdbcType=SMALLINT},
			</if>
			<if test="active != null">
				#{active,jdbcType=BIT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdate != null">
				#{lastUpdate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hand.pojo.Customer">
		update customer
		<set>
			<if test="storeId != null">
				store_id = #{storeId,jdbcType=TINYINT},
			</if>
			<if test="firstName != null">
				first_name = #{firstName,jdbcType=VARCHAR},
			</if>
			<if test="lastName != null">
				last_name = #{lastName,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="addressId != null">
				address_id = #{addressId,jdbcType=SMALLINT},
			</if>
			<if test="active != null">
				active = #{active,jdbcType=BIT},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdate != null">
				last_update = #{lastUpdate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where customer_id = #{customerId,jdbcType=SMALLINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hand.pojo.Customer">
		update customer
		set store_id = #{storeId,jdbcType=TINYINT},
		first_name =
		#{firstName,jdbcType=VARCHAR},
		last_name =
		#{lastName,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		address_id = #{addressId,jdbcType=SMALLINT},
		active =
		#{active,jdbcType=BIT},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		last_update = #{lastUpdate,jdbcType=TIMESTAMP}
		where customer_id =
		#{customerId,jdbcType=SMALLINT}
	</update>
</mapper>